
// DuoTone light

// Hues -----------------------------------
@syntax-uno:    212;
@syntax-duo:    160;


// Language colors -----------------------------------


@uno-1: hsl(@syntax-uno, 76%, 10%);
@uno-2: spin(hsl(@syntax-uno, 62%, 24%), 3);
@uno-3: hsl(@syntax-uno, 55%, 44%);
@uno-4: hsl(@syntax-uno, 15%, 50%);

// Duo hue
@duo-1: spin(hsl(@syntax-duo, 100%, 28%), 10);
@duo-2: hsl(@syntax-duo, 66%, 52%);
@duo-3: hsl(@syntax-duo,  6%, 70%);


// Base colors -----------------------------------
@syntax-fg:     @uno-2;
@syntax-bg:     hsl(@syntax-uno, 33%, 100%);
@syntax-guide:  darken(@syntax-bg, 10%);
@syntax-accent: hsl(@syntax-duo, 80%, 60%);
